{%  extends "base_generic.html" %}

{%  block content %}
    {% block content1 %}
        {{ block.super }}
        {% if perms.catalog.change_author or perms.catslog.delete_author %}
            <hr>
            <ul class="sidebar-nav">
                {% if perms.catalog.change_author %}
                    <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
                {% endif %}
                {% if not author.book_set.all and perms.catalog.delete_author %}
                    <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endblock %}
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <h2>({{ author.date_of_birth }} - {{ author.date_of_death }})</h2>
    <hr/>
    <p>Книги автора:</p>
    <ul>
        {% for book in author.book_set.all %}
        <li>
            <ol>
                <h3><a href="{{ book.get_absolute_url }}"> {{ book.title }} </a></h3>
                 <p> {{ book.isbn }} </p>
            </ol>
        </li>
        {% endfor %}
    </ul>
{% endblock %}