<!doctype html>
<html lang="ru">
    <head>
        {% block title %}<title>Design.pro</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link
            rel="stylesheet"
            href="{% static 'css/style.css' %}"
        />
    </head>
<body class="body">
    <header class="header">
            <a href="{% url 'index' %}"><img class="header_logo" src="{% static 'img/logo.png' %}"></a>
        <div class="nav">
            {% if user.is_authenticated %}
                <div class="nav_content">
                    <p class="nav_name">{{ user.get_username }}</p>
                    <a href="{% url 'my_applications'%}"class="nav_text">Мои заявки</a>
                </div>
                <div class="nav_footer">
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="nav_btn" type="submit"><img class="nav_exit-img" src="{% static 'img/logout.png' %}"  /></button>
                    </form>
                </div>
            {% else %}
            <div class="nav_content">
                <a href="{% url 'registration' %}" class="nav_text">Регистрация</a>
                <a href="{% url 'login' %}" class="nav_text">Вход</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main class="main wrapper">
        {% block content %}{% endblock %}
    </main>

</body>
</html>