<!doctype html>
<html lang="ru">
    <head>
        {% block title %}<title>Design.pro</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link
            rel="stylesheet"
            href="{% static 'css/style.css' %}"
        />
    </head>
<body class="body">
    <header class="header">
            <a href="{% url 'index' %}"><img class="header_logo" src="{% static 'img/logo.png' %}"></a>
        <div class="nav">
            <p class="nav_text">Статус</p>
            <p class="nav_text">Главная страница</p>
            <p class="nav_text">Мои заявки</p>
            <a href="{% url 'registration' %}"><p class="nav_text">Регистрация</p></a>
            <a href="{% url 'login' %}"><p class="nav_text" >Вход</p></a>
        </div>
    </header>
    <main class="main wrapper">
        {% block content %}{% endblock %}
    </main>

</body>
</html>