{% extends "base_generic.html" %}

{% block content %}
    <h1>Главная страница</h1>
    <div class="main_catalog">
    {% if cards  %}
            {% for card in cards  %}
            <article class="card">
                <div class="card_header">
                    <img class="card_img" src="{{card.photo.url}}" alt=" фото {{ card.name }}" >
                    <div class="card_category">
                        <p>{{ card.category }}</p>
                    </div>
                    <div class="card_red" >
                        {% load static %}
                        <button class="card_red-btm">
                            {% load static %}
                            <p class="card_red-text"> {{ card.get_status_display }} </p>
                        </button>
                    </div>
                </div>
                    <div class="card_content">
                        <div class="card_content-header">
                            <p class="card_content-title">{{card.name}}</p>

                            <p class="card_content-name">{{card.author}}</p>
                        </div>
                        <p class="card_content-text">{{ card.description  }}</p>
                        <p>{{ card.date }}</p>

                    </div>
            </article>
            {% endfor %}
        {% else %}
            <p>Тут нет карточек!</p>
        {% endif %}
        </div>
{% endblock %}