*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(140, 140, 140, 0.48);
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 0 100px;
}
.header{
    display: flex;
    position: fixed;
    height: 100%;
    max-width: 60px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    max-height: 50px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
    gap: 20px;
    align-self: flex-start;
}
.header_logo{
    width: 35px;
    height: 35px;
    transition: 0.5s;
    cursor: pointer;
}

.header:hover {
    max-width: 90vh;
    max-height: 200px;
    transition: 1s;
    border-radius: 16px;
}

.header:hover .header_logo{
     width: 60px;
    height: 60px;
    transform: rotateZ(360deg);
}

.header_logo:hover{
    transition: 0.5s;
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav_text{
    text-decoration: none;
    cursor: pointer;
    color: #191919;
    white-space: nowrap;
    background: linear-gradient(black, black) no-repeat;
    background-size: 0 1px;
    background-position: 0 1em;
    transition: 0.3s;
}
.nav_text:hover{
    background-size: 100% 1px;
    transition: 0.3s;
}


.main{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: 1920px;
}
.account{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #191919;
    border-radius: 33px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.form_btn{
    padding: 10px;
    background: #000000;
    border: 1px white double;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: .3s ease-in-out;
}
.form_btn:hover{
    box-shadow: 0 5px 15px white;
}
.form_label{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form_label > input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 33px;
}

.account_title{
    color: white;
    text-shadow:
    0 0 7px #000000,
    0 0 10px #cfcfcf,
    0 10px 20px #c6c5c5;
}

.form_block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form_checkbox-label {
    color: white;
}
.nav_name{
    font-size: 24px;
    max-width: 100px;
    color: #191919;
    font-weight: bold;
}
.nav_exit-img{
    width: 35px;
    height: 35px;
}
.nav_footer{
    height:  100%;
    display: flex;
    align-items: end;
}
.nav_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav_btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.form_error-block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 20px;
    background-color: #9a2b2b;
}
.form_error-title{
    font-size: 18px;
    color: #ffffff;
    list-style-type: none;
}
.main_catalog{
    background-color: white;
    display: grid;
    gap: 50px;
    border-radius: 20px;
    padding: 50px;
    grid-template-columns: repeat(4, 1fr);
}
.card_block{
    width: 100%;
    min-width: 500px;
}
.card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: white;
    box-shadow: 0 5px 10px 2px #474747;
    border: 1px solid black;
    transition: .3s ease-in-out;
    max-height: 500px;
    overflow: auto;


}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #c3bbbb;;
}
.card_img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 100%;
    max-width: min-content;
}
.card_content{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 15px;

}
.card_header{
    position: relative;
    display: flex;
    justify-content: center;

}
.card_content-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_content-title{
    max-width: 300px;
    word-wrap: break-word;
    font-size: 1.5rem;
}
.card_content-text{
    max-width: 300px;
    word-wrap: break-word;
    font-size: 1rem;
}
.card_content-name{
    color: rgba(71, 71, 71, 0.63);
}

.card_category{
    top: 20px;
    left: 0;
    position: absolute;
    border-radius: 0 10px 10px 0;
    background-color: #6e2785;
    padding: 10px;
    color: white;
}
.card_del{
    position: absolute;
    top: 20px;
    right: 20px;
}
.card_del-img{
    width: 25px;
    height: 25px;
}
.card_del-btn{
    border: none;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.card_del:hover .card_del-btn{
    background-color: #ff2323;
}
.card_red{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.card_red-btm{
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: #c4eaaf;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.card_del-text{
    max-height: 50px;
    overflow: hidden;
    font-size: 1.5rem;
}
.card_red-img{
    max-height: 0;
    max-width: 0;
    transition: all 0.3s ease-in-out;
}
.card_red-btm:hover .card_red-img{
    max-height: 15px;
    max-width: 15px;
    height: 15px;
    width: 15px;
}
.card--create{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_img--create{
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.card-block{
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 50px;
    background-color: black;
}

.catalog_stat{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.catalog_stat:hover{
    background-color: transparent;
    transform: translateY(-2px);
}
.catalog_stat--active{
    background-color: #8c8b8b;
}
.category{
    padding: 10px;
    font-size: 2rem;
    background-color: #ffffff;
    color: #191919;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px black dashed;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.category_list{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.category_del{
    width: 25px;
    max-height: 0;
    transition: .3s ease-in-out;
}
.category:hover{
    background-color: rgba(234, 16, 16, 0.37);
    transform: scaleX(1.1);
}
.category:hover .category_del{
    max-height: 25px;
    height: 25px;
    transform: rotate(90deg);
}

.category_link{
    text-decoration: none;
}
.category_add-img{
    width: 25px;
    height: 25px;
    transition: .3s ease-in-out;
}
.category_add-img:hover{
    width: 30px;
    height: 30px;
}
.category--add:hover{
    background-color: #c4eaaf;
}

.del_btn{
    padding: 10px;
    font-size: 2rem;
    background-color: #9a2b2b;
    color: #cfcfcf;
}

.card_red-btm{
    text-decoration: none;
    color: #191919;
}