.header{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    max-width: 50px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    max-height: 35px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
}
.header_logo{
    width: 35px;
    height: 35px;
    transition: 0.5s;
    cursor: pointer;
}

.header:hover {
    max-height: 100vh;
    max-width: 200px;
     transition: 1s;
    border-radius: 16px;
}

.header_logo:hover{
    width: 60px;
    height: 60px;
    transform: rotateZ(360deg);
    transition: 0.5s;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav_text{
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    background: linear-gradient(black, black) no-repeat;
    background-size: 0 1px;
    background-position: 0 1em;
    transition: 0.3s;
}
.nav_text:hover{
    background-size: 100% 1px;
    transition: 0.3s;
}

.main{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: 1920px;
}
.account{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #191919;
    border-radius: 33px;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.form_btn{
    padding: 10px;
    background: #000000;
    border: 1px white double;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: .3s ease-in-out;
}
.form_btn:hover{
    box-shadow: 0 5px 15px white;
}
.form_label{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form_label > input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 33px;
}
.account_title{
    color: white;
    text-shadow:
    0 0 7px #000000,
    0 0 10px #cfcfcf,
    0 10px 20px #c6c5c5;
}

.body{
    background-color: rgba(140, 140, 140, 0.48);
}
.form_block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form_checkbox-label {
    color: white;
}