{% extends "base_generic.html" %}



{% block content %}
{% if user.is_staff %}
    <h1>Все заявки</h1>
  <div class="main_catalog">
        {% if application_list  %}
            {% for card in application_list  %}
            <article class="card">
                <div class="card_header">
                    <img class="card_img" src="{{card.photo.url}}" alt=" фото {{ card.name }}" >
                    <div class="card_category">
                        <p>{{ card.category }}</p>
                    </div>
                    <div class="card_del" >
                        {% load static %}
                        <button class="card_del-btn">
                            <a href="{% url 'application-delete' card.pk %}"> <img class="card_del-img" src="{% static 'img/clear.png' %}" /></a>
                        </button>
                    </div>
                    <div class="card_red">
                          {% load static %}

                              <a class="card_red-btm"  href="{% if card.status == 'n' %} {% url 'status-update' card.pk %} {% endif %}"  >
                                  {% load static %}
                                  <p class="card_red-text"> {{ card.get_status_display }} </p>
                                  {% if card.status == 'n' %}
                                  <img class="card_red-img" src="{% static 'img/pen.png' %}">
                                  {% endif %}
                              </a>

                      </div>
                </div>
                    <div class="card_content">
                        <div class="card_content-header">
                            <p class="card_content-title">{{card.name}}</p>
                            <p class="card_content-name">{{card.author}}</p>
                        </div>
                        <p class="card_content-text">{{card.description}}</p>
                        <p class="card_content-name"> {{card.date}} </p>
                    </div>
            </article>
            {% endfor %}
        {% else %}
            <p>Нет карточек!</p>
        {% endif %}
    </div>




{% else%}
    <h2>У вас нет прав</h2>
{% endif %}


{% endblock %}