{%  extends "base_generic.html" %}

{%  block content %}
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <h2>({{ author.date_of_birth }} - {{ author.date_of_death }})</h2>
    <hr/>
    <p>Книги автора:</p>
    <ul>
        {% for book in author.book_set.all %}
        <li>
            <ol>
                <h3><a href="{{ book.get_absolute_url }}"> {{ book.title }} </a></h3>
                 <p> {{ book.isbn }} </p>
            </ol>
        </li>
        {% endfor %}
    </ul>
{% endblock %}