{% extends "../base_generic.html" %}

{% block content %}
    <div class="account">
        <h1 class="account_title">Вход</h1>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form_block">
                {% for input in form %}
                <label class="form_label">
                   {{ input.label }}:
                   {{ input }}
                    {{ input.errors }}
                </label>
                {% endfor %}
            </div>
            {% if form.errors %}
            <div class="form_error-block">
                <p class="form_error-title"> логин и пароль не соответствуют</p>
            </div>
            {% endif %}
            <button class="form_btn" type="submit" >Отправить форму</button>
        </form>
    </div>
{% endblock %}