{% extends "../base_generic.html" %}

{% block content %}
    <div class="account" >
        <h1 class="account_title" >Регистрация</h1>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form_block">
                {% for input in form %}
                <label class="form_label">
                   {{ input.label }}:
                   {{ input }}
                    <div class="form_error-block">
                        <p class="form_error-title">  {{ input.errors }}</p>
                    </div>
                </label>
                {% endfor %}
            </div>
            <label class="form_checkbox-label">
                <input class="form_checkbox-input" type="checkbox">
                Согласие на обработку персональных данных.
            </label>
            <button class="form_btn" type="submit">Отправить форму</button>
        </form>
    </div>
{% endblock %}